@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900");

@import url("../css/font-awesome.css");

@mixin left-text {
}

/* Custom properties/variables  */

$main-white: #ffffff;
$main-black: #000000;
$main-red: #f55858;
$navbar-left-position: 5rem;
$main-height: 180rem;
$banner-header-area-left-position: 20vw;
$button-hover-color: #0088e8;

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: $main-height;
}

/* 
 * screen size divided by browser base font size
 * example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $main-white;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  color: $main-black;
}

.container {
  max-width: 114rem;
  display: block;
  margin: auto;
}

.banner-area {
  background-image: url("../images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  margin-top: -37vh;

  .banner-header-area header {
    position: absolute;
    top: 1rem;
    height: $main-height;

    //navbar
    .navbar {
      min-width: 60rem;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      z-index: 99;

      .logo {
        position: relative;
        top: 1.3rem;
        left: 4.7rem;
        font-size: 2.8rem;
        font-weight: 500;
        color: $main-white;
        letter-spacing: 0.2rem;
        white-space: nowrap;
        text-decoration: none;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
      }

      ul {
        margin-top: 1rem;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        margin-left: 13rem;

        //navbar items
        li a {
          display: block;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 1.28rem;
          margin-right: 3.9rem;
          color: $main-white;
          font-weight: 400;
          letter-spacing: 0.12rem;
          line-height: 4rem;
          height: 4rem;
          border: transparent;
          white-space: nowrap;
          transition: all 0.3s ease 0s;

          &:hover {
            color: $main-red;
          }
          &:active {
            color: $main-red;
          }
        }

        li:last-child {
          margin-right: 0;
        }

        //submenu
        li.submenu {
          .anchorSub::after {
            font-family: FontAwesome;
            content: "\f107";
            font-size: 1.2rem;
            color: $main-white;
            margin-left: 1rem;
            position: relative;
            top: 0.2rem;
          }

          ul {
            position: absolute;
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
            overflow: hidden;
            top: 4rem;
            right: 7rem;
            display: flex;
            flex-direction: column;
            width: 20rem;
            transform: translateY(-2em);
            visibility: hidden;
            z-index: -1;
            opacity: 0;
            transition: all 0.3s ease-in-out 0s;

            li {
              margin-left: 0px;
              padding-left: 0px;
              padding-right: 0px;
            }

            li a {
              display: block;
              background-color: $main-white;
              border-bottom: 1px solid #f5f5f5;
              color: #3b566e;
              padding-left: 2rem;
              height: 4rem;
              line-height: 4rem;
              transition: all 0.3s ease 0s;
              -webkit-transition: all 0.3s ease 0s;
              -moz-transition: all 0.3s ease 0s;
              -o-transition: all 0.3s ease 0s;
              font-size: 1.3rem;
              position: relative;

              //red line before drop down items
              &:before {
                content: "";
                position: absolute;
                width: 0rem;
                height: 4rem;
                left: 0;
                top: 0;
                bottom: 0;
                transition: all 0.3s ease;
                background: $main-red;
              }

              &:hover {
                background: $main-white;
                color: $main-red;
                padding-left: 2.5rem;

                &:before {
                  width: 0.3rem;
                }
              }
            }
          }

          &:hover ul {
            opacity: 1;
            z-index: 1;
            transform: translateY(0%);
            visibility: visible;
            transition-delay: 0.2s;
          }
        }
      }
    }
  }

  .banner-bottom-area {
    display: flex;
    justify-content: space-between;
    margin-top: 20vh;
    position: relative;
    top: 30vh;
    left: $navbar-left-position;
    .left-column {
      color: $main-white;
      width: 45rem;

      line-height: 1.5;

      h1 {
        font-size: 6.3rem;
        font-weight: 400;
        line-height: 8.4rem;
        letter-spacing: 0.2rem;
        margin-bottom: 3.6rem;
      }

      p {
        font-size: 1.7rem;
        font-weight: 200;
        line-height: 1.72;
      }

      .button {
        background-color: $main-red;
        color: $main-white;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-size: 1.3rem;
        font-weight: 300;
        height: 4.5rem;
        width: 15rem;
        margin-top: 3rem;
        border: none;
        border-radius: 5rem;
        transition: all 0.3s ease 0s;
        &:hover {
          background-color: $button-hover-color;
        }
      }
    }

    .right-column {
      margin-right: 2%;
      width: 50rem;

      #img-slider {
        max-width: 90%;
        height: auto;
      }
    }
  }
}
