@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("../css/font-awesome.css");
/* Custom properties/variables  */
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 
 * screen size divided by browser base font size
 * example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-size: 1.8rem;
  /* 18px */
  font-weight: 400;
  color: #000000;
}

.app-container {
  max-width: 114rem;
  display: block;
  margin: auto;
}

.dummy-container {
  width: 100%;
  height: 110vh;
  z-index: -100;
}

.banner-backgroung-image {
  background-image: url("../images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  margin-top: -15vh;
  position: absolute;
  width: 100%;
}

.sticky-header-background {
  position: fixed;
  background-color: transparent;
  height: 9rem;
  width: 100%;
  top: 0;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease 0s, opacity 1s ease-in-out 0.7s;
}

.sticky-header-background-visible {
  position: fixed;
  height: 8rem;
  width: 100%;
  top: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 5px 8px -5px #827f82;
  -moz-box-shadow: 2px 5px 8px -5px #827f82;
  box-shadow: 2px 5px 8px -5px #827f82;
  transition: all 0.3s ease 0s, opacity 0.3s ease;
  padding-top: 1rem;
  z-index: 140;
  opacity: 1;
  visibility: visible;
}

.navbar-default {
  position: absolute;
  max-width: 114rem;
  min-width: 60rem;
  top: 0;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  width: 100%;
  padding-top: 1rem;
}

.sticky-header {
  padding-top: 1rem;
  position: fixed;
  color: black;
  padding-top: 1rem;
  z-index: 140;
  opacity: 1;
}

#main-logo {
  position: relative;
  top: 1.3rem;
  font-size: 2.8rem;
  font-weight: 500;
  color: inherit;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  text-decoration: none;
}

.menu {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  height: 4rem;
  text-decoration: none;
}
.menu li {
  z-index: 100;
}

.menu-items {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.28rem;
  margin-right: 3.9rem;
  color: inherit;
  font-weight: 400;
  letter-spacing: 0.12rem;
  line-height: 4rem;
  height: 4rem;
  border: transparent;
  white-space: nowrap;
  list-style-type: none;
}
.menu-items:hover {
  color: #f55858;
  cursor: pointer;
}
.menu-items:active {
  color: #f55858;
}

.active-page {
  color: #f55858;
}

#menu:last-child {
  margin-right: 0;
}

.submenu-list:after {
  font-family: FontAwesome;
  content: "";
  font-size: 1.2rem;
  position: relative;
  top: -3.2rem;
  right: -9rem;
}
.submenu-list:hover .submenu {
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  visibility: visible;
  transition-delay: 0.2s;
}
.submenu-list:hover .menu-items {
  color: #f55858;
}

.submenu {
  position: absolute;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 6rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  transform: translateY(-2em);
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.submenu-list-item {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  list-style-type: none;
}

.submenu-anchor-item {
  display: block;
  background-color: #ffffff;
  border-bottom: 1px solid #f5f5f5;
  color: #3b566e;
  padding-left: 2rem;
  height: 4rem;
  line-height: 4rem;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  font-size: 1.3rem;
  position: relative;
  text-decoration: none;
}
.submenu-anchor-item:before {
  content: "";
  position: absolute;
  width: 0rem;
  height: 4rem;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease;
  background: #f55858;
}
.submenu-anchor-item:hover {
  background: #ffffff;
  color: #f55858;
  padding-left: 2.5rem;
}
.submenu-anchor-item:hover:before {
  width: 0.3rem;
}

.sub-active-page {
  background: #ffffff;
  color: #f55858;
  padding-left: 2.5rem;
}
.sub-active-page:before {
  width: 0.3rem;
}

.banner-bottom-area {
  display: flex;
  justify-content: space-between;
  margin-top: 4.5vh;
  position: absolute;
  top: 15vh;
  max-width: 114rem;
}

.left-column {
  color: #ffffff;
  line-height: 1.5;
  margin-right: 6rem;
  width: 50%;
}
.left-column h1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 8.4rem;
  letter-spacing: 0.3rem;
  margin-bottom: 3.6rem;
}
.left-column p {
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 1.72;
  letter-spacing: 0.025rem;
  margin-bottom: 0.4rem;
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  height: 4.5rem;
  padding: 0 2rem;
  margin-top: 3rem;
  border: none;
  border-radius: 2rem;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.button-red {
  background-color: #f55858;
}
.button-red:hover {
  background-color: #0088e8;
}

.button-green {
  background-color: #00b4c6;
}
.button-green:hover {
  background-color: #0088e8;
}

.right-column {
  position: relative;
  left: -5rem;
  width: 50%;
}

#img-slider {
  width: 52rem;
  height: auto;
  position: relative;
  top: -6rem;
}

@media (max-width: 75em) {
  .navbar-default {
    justify-content: center;
    left: -0.5rem;
  }

  .menu {
    margin-left: 6rem;
  }

  .banner-bottom-area {
    justify-content: center;
    width: 90%;
    left: 6.5rem;
  }

  #img-slider {
    top: -2rem;
    left: 5rem;
  }
}
.section-container {
  display: flex;
  flex-direction: column;
}

.hr-line {
  position: relative;
  top: 8vh;
  width: 100%;
  color: #fcfcfc;
  border-top: 1px solid #ebebeb;
}

#about {
  display: flex;
  margin-top: 18vh;
}
#about .left-col {
  position: relative;
  left: 2rem;
}
#about .right-col {
  position: relative;
  top: -3rem;
  left: 5.5rem;
  width: 80%;
}
#about a {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}
#about a:hover {
  color: #0056b3;
}
#about img {
  position: relative;
  top: -5rem;
  width: 63rem;
  visibility: hidden;
}
@keyframes leftimage {
  from {
    visibility: hidden;
    transform: translate(-5rem);
    opacity: 0;
  }
  to {
    visibility: visible;
    transform: translate(0);
    opacity: 1;
  }
}
#about .left-image-animate {
  animation: leftimage 2s forwards;
}
#about h5 {
  width: 80%;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  letter-spacing: 0.05rem;
  color: #1e1e1e;
}
#about p {
  width: 90%;
  margin-bottom: 1.5rem;
  color: #4d4d4d;
  font-weight: 300;
  font-size: 1.53rem;
  line-height: 3rem;
  letter-spacing: 0.05rem;
}

#about2 {
  margin-top: 18rem;
  display: flex;
}
#about2 li {
  list-style-type: none;
  display: flex;
}
#about2 li img {
  width: 60px;
  height: 60px;
}
#about2 li .list-text {
  width: 80%;
  margin-left: 2rem;
}
#about2 h5 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  letter-spacing: 0.05rem;
  line-height: 4rem;
  color: #1e1e1e;
  width: 90%;
}
#about2 p {
  margin-bottom: 3rem;
  color: #4d4d4d;
  font-weight: 300;
  font-size: 1.53rem;
  line-height: 3rem;
  letter-spacing: 0.05rem;
  width: 90%;
}
#about2 h6 {
  padding-top: 1.2rem;
  font-size: 2.1rem;
  font-weight: 500;
  color: #1e1e1e;
  margin-bottom: 2rem;
}
#about2 a {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}
#about2 a:hover {
  color: #0056b3;
}

#about2-left {
  width: 50%;
}

#about2-right-image {
  position: relative;
  left: 1rem;
  top: 6rem;
}

#services {
  padding-top: 13rem;
  margin: 12.5rem 0;
  width: 100%;
  height: 72rem;
  background: linear-gradient(135deg, #0088e8 0%, #00b6c6 0%, #0088e8 100%);
}

.service-box {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
  width: 28rem;
  height: 35.5rem;
}
.service-box .icon {
  transition: all 0.3s ease;
  background-color: #00b4c6;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  position: relative;
  margin-bottom: 3rem;
  line-height: 1rem;
}
.service-box img {
  max-width: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service-box h5 {
  font-weight: 500;
  font-size: 1.8rem;
  color: #1e1e1e;
  letter-spacing: 0.07rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.service-box p {
  font-weight: 300;
  font-size: 1.3rem;
  color: #777;
  letter-spacing: 0.05rem;
  line-height: 2.5rem;
}

.carousel-container {
  max-width: 140rem;
  display: block;
  margin: auto;
}

.rec {
  margin-top: 0;
  padding: 0;
}

.rec-carousel-item {
  z-index: 10;
}
.rec-carousel-item:hover .button,
.rec-carousel-item :hover .icon {
  background-color: #0088e8;
}

.rec-slider:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30rem;
  z-index: 1;
  width: 60rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.rec-slider-container {
  margin: 0;
}

.rec-carousel-wrapper {
  margin: 0;
}

.rec-carousel {
  margin: 0;
}

.rec.rec-arrow {
  box-sizing: content-box;
  background-color: rgba(223, 223, 231, 0.3);
  color: transparent;
  position: relative;
  left: -5px;
  font-size: 2rem;
  font-weight: 500;
  width: 3.5em;
  height: 3em;
  border: none;
  outline: none;
  box-shadow: none;
}
.rec.rec-arrow:not(.dsbl):hover {
  background-color: rgba(223, 223, 231, 0.3);
  color: transparent;
  box-shadow: none;
}

.rec-arrow-left {
  margin-left: 5rem;
  margin-right: -1rem;
}
.rec-arrow-left:after {
  font-family: FontAwesome;
  content: "";
  font-size: 2rem;
  position: relative;
  left: -5px;
  color: white;
}

.rec-arrow-right {
  margin-right: 5rem;
}
.rec-arrow-right:after {
  font-family: FontAwesome;
  content: "";
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  left: -4px;
  color: white;
}

.rec.rec-dot {
  margin-top: 2rem;
  background-color: #ffffff;
  box-shadow: none;
}

.dot-carousel-flex {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  height: auto;
}

.dot-carousel-button {
  background-color: #ffffff;
  margin: 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.carousel-button-active {
  width: 8px;
  height: 8px;
}

.carousel-button-passive {
  width: 6px;
  height: 6px;
}

/*# sourceMappingURL=main.css.map */
