//@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("../css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
$test-background-color: false;

/* Custom properties/variables  */

$main-white: #ffffff;
$main-black: #000000;
$main-red: #f55858;
$navbar-left-position: 1.5rem;
$main-height: 180rem;
$banner-header-area-left-position: 20vw;
$button-hover-color: #0088e8;
$section-color-black: #1e1e1e;
$black-tone: hsl(0, 0%, 30%);
$back-green: #00b4c6;
$box-height: 35.5rem;
//mixins
@mixin inside_navbar {
  //transform: translateY(-2.6em);
  padding-top: 1rem;
}

@mixin paragraph-style {
  color: $black-tone;
  font-weight: 300;
  font-size: 1.53rem;
  line-height: 3rem;
  letter-spacing: 0.05rem;
}

@mixin anchor-tag-section {
  text-decoration: none;
  color: hsl(211, 100%, 50%);
  cursor: pointer;
  &:hover {
    color: hsl(211, 100%, 35%);
  }
}

@mixin position-at-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

p {
  @include paragraph-style;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
  //height: $main-height;
}

/* 
 * screen size divided by browser base font size
 * example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $main-white;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  color: $main-black;
}

.main-container {
  background-color: if($test-background-color, blueviolet, null);
}

.app-container {
  max-width: 114rem;
  display: block;
  margin: auto;
  background-color: if($test-background-color, chocolate, null);
}

.dummy-container {
  width: 100%;
  height: 110vh;
  z-index: -100;
  background-color: if($test-background-color, lightcoral, null);
}
//Header Area
.banner-backgroung-image {
  background-image: url("../images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  margin-top: -15vh;
  background-color: if($test-background-color, black, null);
  position: absolute;
  width: 100%;
}

.sticky-header-background {
  position: fixed;
  background-color: transparent;
  height: 9rem;
  width: 100%;
  top: 0;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease 0s, opacity 1s ease-in-out 0.7s;
}

.sticky-header-background-visible {
  position: fixed;
  height: 8rem;
  width: 100%;
  top: 0;
  background-color: $main-white;
  -webkit-box-shadow: 2px 5px 8px -5px rgba(130, 127, 130, 1);
  -moz-box-shadow: 2px 5px 8px -5px rgba(130, 127, 130, 1);
  box-shadow: 2px 5px 8px -5px rgba(130, 127, 130, 1);
  transition: all 0.3s ease 0s, opacity 0.3s ease;
  @include inside_navbar;
  z-index: 140;
  opacity: 1;
  visibility: visible;
}

//navbar
.navbar-default {
  position: absolute;
  max-width: 114rem;
  min-width: 60rem;
  top: 0;
  color: $main-white;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  width: 100%;
  //left: $navbar-left-position;
  @include inside_navbar;
  //transition: all 0.3s ease 0s;
  background-color: if($test-background-color, brown, null);
}

//inside sticky header logo and menu
.sticky-header {
  padding-top: 1rem;
  position: fixed;
  color: black;
  @include inside_navbar;
  z-index: 140;
  opacity: 1;
}

#main-logo {
  position: relative;
  top: 1.3rem;
  font-size: 2.8rem;
  font-weight: 500;
  color: inherit;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  text-decoration: none;
}

.menu {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  height: 4rem;
  text-decoration: none;

  li {
    z-index: 100;
  }
}

//navbar items
.menu-items {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.28rem;
  margin-right: 3.9rem;
  color: inherit;
  font-weight: 400;
  letter-spacing: 0.12rem;
  line-height: 4rem;
  height: 4rem;
  border: transparent;
  white-space: nowrap;
  list-style-type: none;

  &:hover {
    color: $main-red;
    cursor: pointer;
  }
  &:active {
    color: $main-red;
  }
}

.active-page {
  color: $main-red;
}

#menu:last-child {
  margin-right: 0;
}

//submenu
.submenu-list {
  &:after {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 1.2rem;
    position: relative;
    top: -3.2rem;
    right: -9rem;
  }

  &:hover .submenu {
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    visibility: visible;
    transition-delay: 0.2s;
  }

  &:hover .menu-items {
    color: $main-red;
  }
}

.submenu {
  position: absolute;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 6rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  transform: translateY(-2em);
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.submenu-list-item {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  list-style-type: none;
}

.submenu-anchor-item {
  display: block;
  background-color: $main-white;
  border-bottom: 1px solid #f5f5f5;
  color: #3b566e;
  padding-left: 2rem;
  height: 4rem;
  line-height: 4rem;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  font-size: 1.3rem;
  position: relative;
  text-decoration: none;

  //red line before drop down items
  &:before {
    content: "";
    position: absolute;
    width: 0rem;
    height: 4rem;
    left: 0;
    top: 0;
    bottom: 0;
    transition: all 0.3s ease;
    background: $main-red;
  }

  &:hover {
    background: $main-white;
    color: $main-red;
    padding-left: 2.5rem;

    &:before {
      width: 0.3rem;
    }
  }
}

.sub-active-page {
  background: $main-white;
  color: $main-red;
  padding-left: 2.5rem;

  &:before {
    width: 0.3rem;
  }
}

.banner-bottom-area {
  display: flex;
  justify-content: space-between;
  margin-top: 4.5vh;
  position: absolute;
  top: 15vh;
  background-color: if($test-background-color, burlywood, null);
  max-width: 114rem;
}

.left-column {
  color: $main-white;
  line-height: 1.5;
  margin-right: 6rem;
  width: 50%;

  h1 {
    font-size: 6rem;
    font-weight: 400;
    line-height: 8.4rem;
    letter-spacing: 0.3rem;
    margin-bottom: 3.6rem;
  }

  p {
    font-size: 1.7rem;
    font-weight: 100;
    line-height: 1.72;
    letter-spacing: 0.025rem;
    margin-bottom: 0.4rem;
    color: $main-white;
  }
}

.button {
  color: $main-white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  height: 4.5rem;
  padding: 0 2rem;
  //width: 15rem;
  margin-top: 3rem;
  border: none;
  border-radius: 2rem;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.button-red {
  background-color: $main-red;
  &:hover {
    background-color: $button-hover-color;
  }
}

.button-green {
  background-color: $back-green;
  &:hover {
    background-color: $button-hover-color;
  }
}

//right column
.right-column {
  position: relative;
  left: -5rem;
  width: 50%;
}

#img-slider {
  width: 52rem;
  //max-width: 60%;
  height: auto;
  position: relative;
  top: -6rem;
}

@media (max-width: 75em) {
  .navbar-default {
    justify-content: center;
    left: $navbar-left-position - 2rem;
  }

  .menu {
    margin-left: 6rem;
  }

  .banner-bottom-area {
    justify-content: center;
    width: 90%;
    left: $navbar-left-position + 5rem;
  }

  #img-slider {
    top: -2rem;
    left: 5rem;
  }
}

// sections
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: if($test-background-color, lightblue, null);
}

.hr-line {
  position: relative;
  top: 8vh;
  width: 100%;
  color: hsl(0, 0, 99%);
  border-top: 1px solid hsl(0, 0, 92%);
}

#about {
  display: flex;
  margin-top: 18vh;
  .left-col {
    position: relative;
    left: 2rem;
  }

  .right-col {
    position: relative;
    top: -3rem;
    left: 5.5rem;
    width: 80%;
  }

  a {
    @include anchor-tag-section;
  }

  img {
    position: relative;
    top: -5rem;
    width: 63rem;
    visibility: hidden;
  }

  @keyframes leftimage {
    from {
      visibility: hidden;
      transform: translate(-5rem);
      opacity: 0;
    }

    to {
      visibility: visible;
      transform: translate(0);
      opacity: 1;
    }
  }

  .left-image-animate {
    animation: leftimage 2s forwards;
  }

  h5 {
    width: 80%;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    letter-spacing: 0.05rem;
    color: $section-color-black;
  }

  p {
    width: 90%;
    margin-bottom: 1.5rem;

    @include paragraph-style;
  }
}

#about2 {
  margin-top: 18rem;
  display: flex;
  li {
    list-style-type: none;
    display: flex;

    img {
      width: 60px;
      height: 60px;
      //margin-right: 2rem;
      //align-self: center;
    }
    .list-text {
      width: 80%;
      margin-left: 2rem;
    }
  }

  h5 {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    letter-spacing: 0.05rem;
    line-height: 4rem;
    color: $section-color-black;
    width: 90%;
  }

  p {
    margin-bottom: 3rem;
    @include paragraph-style;
    width: 90%;
  }

  h6 {
    padding-top: 1.2rem;
    font-size: 2.1rem;
    font-weight: 500;
    color: $section-color-black;
    margin-bottom: 2rem;
  }

  a {
    @include anchor-tag-section;
  }
}

#about2-left {
  width: 50%;
}

#about2-right-image {
  position: relative;
  left: 1rem;
  top: 6rem;
}

//service
#services {
  padding-top: 13rem;
  margin-top: 12.5rem 0;
  width: 100%;
  height: 72rem;
  background: linear-gradient(
    135deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
}
.service-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: space-around;
  background-color: $main-white;
  //box-shadow: 20px 4px 4px 80px rgba(0, 0, 0, 0.1);
  //margin-top: 2rem;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  //position: relative;
  width: 40rem;
  //height: $box-height;
  height: 40rem;

  .icon {
    transition: all 0.3s ease;
    background-color: $back-green;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    //margin: auto;
    //position: relative;
    //margin-bottom: 3rem;
    margin-top: 2rem;
    line-height: 1rem;
    max-width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 5rem;

    //position: relative;
    //top: 50%;
    //left: 50%;
    //transform: translate(10%, 50%);
  }

  h5 {
    font-weight: 500;
    font-size: 1.8rem;
    color: $section-color-black;
    letter-spacing: 0.07rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    position: relative;
  }

  p {
    font-weight: 300;
    font-size: 1.3rem;
    color: #777;
    letter-spacing: 0.05rem;
    line-height: 2.5rem;
  }
}

.carousel-container {
  max-width: 140rem;
  display: block;
  margin: auto;
}

.rec {
  //box-sizing: border-box;
  margin-top: 0;
  padding: 0;
  //background-color: rgba(57, 57, 196, 0.3);
}

.rec-carousel-item {
  //background-color: $main-red;
  //box-sizing: content-box;
  &:hover .button,
  :hover .icon {
    background-color: $button-hover-color;
  }
  z-index: 10;
}

.rec-slider {
  //background-color: rgb(37, 165, 112);
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30rem;
    z-index: 1;
    width: 90%;
    height: 100%;
    background-color: rgba($main-black, 0.1);
  }
}

.rec-slider-container {
  //background-color: rgba($main-black, 0.1);
  margin: 0;
}
.rec-carousel-wrapper {
  //background-color: rgb(2, 10, 2);
  margin: 0;
}
.rec-carousel {
  //background-color: rgb(228, 58, 151);
  margin: 0;
}

.rec.rec-arrow {
  box-sizing: content-box;
  background-color: rgba(223, 223, 231, 0.3);
  color: transparent;
  position: relative;
  left: -5px;
  font-size: 2rem;
  font-weight: 500;
  width: 3.5em;
  height: 3em;
  border: none;
  outline: none;
  box-shadow: none;
  &:not(.dsbl):hover {
    background-color: rgba(223, 223, 231, 0.3);
    color: transparent;
    box-shadow: none;
  }
}

.rec-arrow-left {
  &:after {
    font-family: FontAwesome;
    content: "\f104";
    font-size: 2rem;
    position: relative;
    left: -5px;
    color: white;
  }
  margin-left: 5rem;
  margin-right: -1rem;
}

.rec-arrow-right {
  &:after {
    font-family: FontAwesome;
    content: "\f105";
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    left: -4px;
    color: white;
  }
  margin-right: 5rem;
}

.rec.rec-dot {
  margin-top: 2rem;
  background-color: $main-white;
  box-shadow: none;
}

.dot-carousel-flex {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  //background-color: rgba(223, 205, 205,0.2);
  width: 100px;
  height: auto;
}

.dot-carousel-button {
  background-color: transparent;
  margin: 0.1;
  border: none;
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
}

.inside-dot {
  width: 8px;
  height: 8px;
  background-color: $main-white;
  z-index: 10;
  border-radius: 100%;
  position: relative;
  @include position-at-center;
}

.carousel-dot-active {
  width: 8px;
  height: 8px;
}
.carousel-dot-passive {
  width: 5px;
  height: 5px;
}

//frequently questions
.frequently-questions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 90rem;
  align-items: center;
  margin: 1rem;
  padding-top: 11rem;
  padding-bottom: 12rem;
  background-color: if($test-background-color, burlywood, null);

  a {
    @include anchor-tag-section;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
}

.faq-section-heading h2 {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 300;
  color: #232323;
  margin-bottom: 2rem;
}

.faq-section-paragraph {
  width: 55rem;

  p {
    font-size: 1.7rem;
    color: #777;
    text-align: center;
    font-weight: 300;
    margin-bottom: 7rem;
  }
}

.faq-double-col-container {
  display: flex;
}

.faq-left-col {
  padding: 2rem;
  width: 53%;
}

.faq-left-col-header h5 {
  font-size: 2.6rem;
  font-weight: 500;
  color: #1e1e1e;
  line-height: 40px;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
}

.faq-left-col-text {
  p {
    margin-bottom: 3rem;
    font-size: 1.56rem;
    line-height: 30px;
    letter-spacing: 0.05rem;
    font-weight: 300;
  }
  .button-green {
    margin-top: 1rem;
  }
}
.faq-right-col {
  width: 50%;
}

.accordion {
  width: 100%;
  position: relative;
  top: 1.5rem;
}

.accordion-head {
  font-size: 1.85rem;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: hsl(0, 0, 10%);
}

.accordion-arrow {
  position: absolute;
  right: 2rem;
  top: 1rem;
  transition: all 300ms ease-in-out;
  &:after {
    font-family: FontAwesome;
    content: "\f105";
    font-size: 2.8rem;
    font-weight: bold;
  }
}

.accordion-arrow-expanded {
  color: $button-hover-color;
  transform: rotate(90deg);
}

.accordion-header-expanded {
  color: $button-hover-color;
}

.accordion-details {
  //padding:0.2rem;
  p {
    padding: 0 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.04rem;
  }
}

//contact

.contact-us {
  display: flex;
  margin-top: 8rem;
  height: 50rem;
}

#map {
  width: 50%;
}

#contact_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 10rem;
  background: rgba(0, 136, 232, 1);
  background: linear-gradient(
    -45deg,
    rgba(0, 136, 232, 1) 0%,
    rgba(0, 182, 198, 1) 0%,
    rgba(0, 136, 232, 1) 100%
  );
}

//contact form

#contact-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: space-around;
  justify-content: space-around;
  width: 80%;
  background-color: if($test-background-color, violet, null);
  textarea {
    resize: none;
    width: 100%;
  }
  button {
    height: 4rem;
  }
}

.form-first-row {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
  height: 5rem;
  margin-bottom: 3rem;
  background-color: if($test-background-color, rgb(60, 31, 139), null);
}

$input1-width: 45%;
#name {
  width: $input1-width;
}
#email {
  width: 93-$input1-width;
}

.form-second-row {
  background-color: if($test-background-color, rgb(100, 99, 97), null);
}

.form-third-row {
  background-color: if($test-background-color, rgb(46, 34, 9), null);
  display: flex;
  justify-content: center;
}

fieldset {
  border: none;
}

.contact-field {
  color: $main-white;
  color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  outline: none;
}

//footer
footer {
  height: 17rem;
  width: 100%;
  padding: 0;
  padding-top: 7.5rem;
}

.footer-section {
  display: flex;
  justify-content: space-between;
}

.footer-left-text {
  p {
    font-size: 1.5rem;
  }

  a {
    @include anchor-tag-section;
  }
}

.social-media-icons {
  ul {
    display: flex;
    margin-right: 1.3rem;
  }

  li {
    list-style-type: none;
    padding: 0 0.7rem;
  }

  .button {
    display: inline-block;
    border-radius: 0.5rem;
    height: 4rem;
    width: 4rem;
    font-size: 1.6rem;
    //padding: 1.1rem 1.6rem;
    margin: 0;
  }

  i {
    transform: translate(-50%, 60%);
  }
}
